a {
    text-decoration: none;
}

p {
    color: aliceblue;
}

nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

h1, h2, h3, h4 {
    color: aliceblue;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 300px;
}

.dropdown {
    width: 300px;
    position: relative;
    margin-bottom: 15px;
}

ul li {
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    align-self: center;
}


ul li:hover {
    background: rgba(192, 192, 192, 0.409);
}

ol li {
    padding: 1px;
    cursor: pointer;
    border-radius: 15px;
    align-self: flex-start;
    color: aliceblue;
}

ol li:hover {
    background: rgba(192, 192, 192, 0.409);
}

.bg-navy {
    /* background: #0e143b;  */
    background: rgb(0, 0, 61);
}

.glow-div {
width: 400px;
height: 150px;
color: #d7d6d5;
margin: 50px auto;
border-radius: 10px;
box-shadow: 0 0 20px rgba(255, 255, 255, 0.845);
transition: box-shadow 0.3s ease-in-out;
}


.glow-div:hover {
box-shadow: 0 0 40px rgba(0, 255, 255, 1),
0 0 80px rgba(0, 255, 255, 0.7);
}

.nav-bg-grey {
background-color: #20282e;
color: aliceblue;
}

graph-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: start;
    margin-top: 30px;
}

.data-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, auto));
    gap: 25px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.data-grid-g {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, auto));
    gap: 25px;
    justify-items: space-evenly;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    max-height: 500px;
}

.fight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 10px;
    justify-items: center;
    margin-top: 30px;
}

.fight-card {
    border: 2px solid black;
    border-radius: 10px;
    width: 340px;
    text-align: center;
    padding: 10px;
    transition: all 0.2s ease;
    background-color: #36454F;
    color:aliceblue;
    transition: all 1s ease;
}

.fight-card h5 {
    color: pink;
}

.fight-card:hover {
    border-color: #1e00ff; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 1s ease;
}

.fight-card:hover .winner {
    color: lime;
}

.fight-card:hover .loser {
    color: red;
}

/* matchups */


.fighter-column {
    flex: 1;
    position: relative;
    text-align: center;
}

.fighter-column img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border-style: solid;
    border-color: aliceblue;
}

.fighter-column input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-bottom: 5px;
}

.fighter a {
    color: pink;
}
