{% extends "layout.html" %}

{% block title %}
    fighter
{% endblock %}

{% block main %}

    <!-- <style>
    .fight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
    }
    </style> -->

    <div>
        <div>
            {% if fighter['picture'] %}
            <img src="{{ fighter['picture'] }}" alr="Fighter Headshot">
            {% else %}
            <p>No picture found</p>
            {% endif %}
        </div>
        <div>
            <div class="glow-div p-4 bg-dark text-center">
                <h1 class="align-middle">{{fighter['name']}}</h1>
            </div>
            <div>
                <table class="table table-dark table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>height</th>
                            <th>weight</th>
                            <th>reach</th>
                            <th>stance</th>
                            <th>team</th>
                            <th>age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{fighter['name']}}</td>
                            <td>{{fighter['height']}}</td>
                            <td>{{fighter['weight']}}</td>
                            <td>{{fighter['reach']}}</td>
                            <td>{{fighter['stance']}}</td>
                            <td>{{fighter['team']}}</td>
                            <td>{{fighter['birthday']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div>
            <form action="" method = "POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn btn-dark" name="action" value="career">Career</button>
                <button class="btn btn-dark" name="action" value="Ranking">Ranking</button>
                <button class="btn btn-dark" name="action" value="striking">Striking</button>
                <button class="btn btn-dark" name="action" value="grappling">Grappling</button>
                <button class="btn btn-dark" name="action" value="clinch">Clinch</button>
                <button class="btn btn-dark" name="action" value="overall">Overall</button>
                <button class="btn btn-dark" name="action" value="record">Fights</button>
            </form>
        </div>
        <div class="container mt-4">
            {% if selection == "career" %}
            <div>
                <div class="row g-4">
                    <div class="col-12 col-md-6 ">
                        <div class="p-4 bg-dark text-white rounded-4 shadow">
                            <h3>UFC Fights</h3>
                            <ul class="list-inline mb-0" style="margin: 0 auto">
                                <li>UFC fights: {{data_hash['ufc_fights']}}</li>
                                <li>UFC Win streak: {{data_hash['highest_win_streak']}}</li>
                                <li>Record: {{data_hash['wins']}}-{{data_hash['losses']}}-{{data_hash['draws']}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="p-4 bg-dark text-white rounded-4 shadow">
                            <h3>Record Partitions</h3>
                            <ul class="list-inline mb-0" style="margin: 0 auto">
                                <li class="list-inline-item">Finishes: {{data_hash['finishes']}}</li>
                                <li class="list-inline-item">Finish Rate: {{data_hash['finish_rate']}}</li>
                                <li class="list-inline-item">Win Rate: {{data_hash['win_rate']}}</li>
                                <li class="list-inline-item">KOs: {{data_hash['ko_tko']}}</li>
                                <li class="list-inline-item">Subs: {{data_hash['subs']}}</li>
                                <li class="list-inline-item">Decisions: {{data_hash['decisions']}}</li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-12 col-md-6 ">
                        <div class="p-4 bg-dark text-white rounded-4 shadow">
                            <h3>Misc</h3>
                            <ul class="list-inline mb-0" style="margin: 0 auto">
                                <li>Debut: {{data_hash['debut']}}</li>
                                <li>Title Fights: {{data_hash['title_fights']}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="p-4 bg-dark text-white rounded-4 shadow">
                            <h3>Recent</h3>
                            <ul class="list-inline mb-0" style="margin: 0 auto">
                                <li>Last 5 Fights:</li>
                                {% for fight in last_5 %}
                                    {% if fight["winner"] == fighter["fighter_id"]%}
                                    <li class="list-inline-item"><a href="/versus/{{fight['fight_id']}}/" title="{{fight['fighter_a']}} vs {{fight['fighter_b']}}">&#9989;</a></li>
                                    {% else %}
                                    <li class="list-inline-item"><a href="/versus/{{fight['fight_id']}}/" title="{{fight['fighter_a']}} vs {{fight['fighter_b']}}">&#10060;</a></li>
                                    {% endif%}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="p-4 bg-dark text-white rounded-4 shadow">
                            <h3>Time</h3>
                            <ul class="list-inline mb-0" style="margin: 0 auto">
                                <li>Time fought: {{data_hash['cage_time']}}</li>
                                <li>Average Fight Time: {{data_hash['average_fight_time']}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% elif selection == "Ranking" %}
            <div class="d-flex gap-4 flex-row align-items-center justify-content-center">
                <div class="d-flex flex-column" style="width:300px;">
                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Current elo: {{elo_data_hash['elo']}}</h3>
                        <p>{{elo_data_hash['latest_fight']}}</p>
                    </div>
                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <!-- {% if elo_data_hash['peak_elo'] > elo_data_hash['elo'] %}
                        <h3>Peak elo: {{elo_data_hash['peak_elo']}}</h3>
                        {% else %}
                        <h3>Peak elo: {{elo_data_hash['elo']}}</h3>
                        {% endif %} -->
                        <h3>Peak elo: {{elo_data_hash['peak_elo']}}</h3>
                        <p>peak fight date: {{elo_data_hash['peak_fight']}}</p>
                    </div>

                    {% set elo_drop = elo_data_hash['peak_elo'] - elo_data_hash['elo'] %}
                    {% if elo_drop > 45 %}
                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <p>
                            This fighter is currently OUT OF PRIME. Thus, his stats and overall Rankings will be lower 
                            at present then they would have been when they were at their prime.
                        </p>
                    </div>
                    {% elif elo_drop < 45 and elo_drop > 15%}
                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <p>
                            This fighter is not at his peak currently, and thus his stats and Rankings are different than if he were to have been at his peak
                        </p>
                    </div>
                    {% endif %}

                </div>
                <div class="flex-grow-1" style="max-width: 700px;">
                    <div class="p-4 bg-dark text-white rounded-4 shadow graph-container">
                        {{ plot|safe }}
                    </div>
                </div>
            </div>
            {% elif selection == "striking" %}
            <div class="container">
                <div class="d-flex gap-4 flex-column align-items-center justify-content-between">
                    <div class="row gx-3" style="width:500px;"> 
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow">
                            <h3>Boxing: {{data_hash['Boxing'] | round(1)}}</h3>
                        </span>
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow"> 
                            <h3>KickBoxing: {{data_hash['KickBoxing'] | round(1)}}</h3>
                        </span>
                    </div>
                    <div class="flex-grow-1" style="max-width: 800px;">
                        <div class="p-4 bg-dark text-white rounded-4 shadow graph-container">
                            {{ plot|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">

                <h1 style="font-weight: bold;"> Relevent Strike Data </h1>

                <div class="data-grid p-2">
                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Volume: Total Strikes Landed </h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Total Strikes Landed Rank</p>
                                <li>Rank: {{data_hash['tsl_scaled'] | round(1) }}</li>
                                <li>Value: {{data_hash['tsl']}} strikes </li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3> Significant Strikes Landed per Minute</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Significant Strikes per Minute</p>
                                <li>Rank: {{data_hash['tsl_pm_scaled'] | round(1)}}</li>
                                <li>Value: {{data_hash['tsl_pm'] | round(4)}}</li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Absorbtion: Total Strikes Absorbed per Minute</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Strikes Absorbed per Minute</p>
                                <li>Rank: {{data_hash['SApM_scaled'] | round(1) }}</li>
                                <li>Value: {{data_hash['SApM']}}/min </li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Power: Knockdowns and KOs per Minute</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>KO per Minute</p>
                                <li>KO Rank: {{data_hash['ko_pm_scaled'] | round(1) }}</li>
                                <li>KO / min: {{data_hash['ko_pm'] | round(3)}}/min </li>
                            </div>
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Knockdowns per Minute</p>
                                <li>KD Rank: {{data_hash['kd_pm_scaled'] | round(1) }}</li>
                                <li>KD / min: {{data_hash['kd_pm'] | round(3)}}/min </li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Leg Kicks: Leg kicks Landed and Accuracy</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Leg Kicks Landed</p>
                                <li>Rank: {{data_hash['sdll_scaled'] | round(1) }}</li>
                                <li>Value: {{data_hash['sdll']}} significant kicks </li>
                            </div>
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Leg Kicks Accuracy</p>
                                <li>Rank: {{data_hash['sdl_acc_scaled'] | round(1) }}</li>
                                <li>Value: {{(data_hash['sdl_acc'] * 100) | round(1)}}% </li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Accuracy: Significant Strike Accuracy</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Significant Strike Accuracy</p>
                                <li>Rank: {{data_hash['ss_acc_scaled'] | round(1) }}</li>
                                <li>Value: {{(data_hash['ss_acc'] * 100) | round(1)}}% </li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Head Hunting</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Head Strike Quantity</p>
                                <li>Rank: {{data_hash['sdhl_scaled']}}</li>
                                <li>Value: {{data_hash['sdhl'] | round(1) }}</li>
                            </div>
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Head Strike Accuracy</p>
                                <li>Rank: {{data_hash['sdh_acc_scaled'] | round(1) }}</li>
                                <li>Value: {{(data_hash['sdh_acc'] * 100) | round(1)}}%</li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Body Ripping</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Body Strike Quantity</p>
                                <li>Rank: {{data_hash['sdbl_scaled'] | round(1) }}</li>
                                <li>Value: {{data_hash['sdbl'] | round(1)}}</li>
                            </div>
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Body Strike Accuracy</p>
                                <li>Rank: {{data_hash['sdb_acc_scaled'] | round(1) }}</li>
                                <li>Value: {{ (data_hash['sdb_acc'] * 100) | round(1)}}%</li>
                            </div>
                        </ul>
                    </div>

                    <div class="m-2 p-4 bg-dark text-white rounded-4 shadow" style="width:360px; height:230px; float: center;">
                        <h3>Striking Defence</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Distance Striking Defence</p>
                                <li>Rank: {{data_hash['str_def_Scaled'] | round(1) }}</li>
                                <li>Value: {{(data_hash['str_def']*100) | round(1)}}%</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="m-5 p-4 bg-dark text-white rounded-4 shadow align-items-center d-flex flex-column justify-content-center justify-items-center">
                    <h3>Distance Strike Partitions</h3>
                    <div class="flex-grow-1" style="max-width: 700px;">
                        <div class="p-4 bg-dark text-white rounded-4 shadow graph-container">
                            {{ heat_map | safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% elif selection == "grappling" %}
            <div class="container">
                <div class="d-flex gap-4 flex-column align-items-center justify-content-center justify-items-center">
                    <div class="row gx-3" style="width:700px;"> 
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow">
                            <h3>Wrestling: {{data_hash['Wrestling'] | round(1)}}</h3>
                        </span>
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow"> 
                            <h3>BJJ: {{data_hash['BJJ']| round(1)}}</h3>
                        </span>
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow"> 
                            <h3>GNP: {{data_hash['GNP']| round(1)}}</h3>
                        </span>
                    </div>

                    <div class="flex-grow-1" style="max-width: 800px;">
                        <div class="p-4 bg-dark text-white rounded-4 shadow graph-container">
                            {{plot | safe}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">

                <h1 style="font-weight: bold;"> Relevant Grappling Data </h1>

                <div class="data-grid-g p-2">

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Sub Attempts Faced per Minute</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Sub Attempts Faced</p>
                                <li>Value: {{data_hash['sub_attempts_faced_pm']| round(4)}} / min</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Subs Attempted</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Submission Attempts</p>
                                <li>Rank: {{data_hash['sm_scaled']| round(1)}}</li>
                                <li>Value: {{data_hash['sm']| round(1)}} sub attempts</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Subs per Minute</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Submissions per Minute</p>
                                <li>Rank: {{data_hash['subs_pm_scaled']| round(1)}}</li>
                                <li>Value: {{data_hash['subs_pm']| round(4)}} / min</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Takedowns Landed</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Takedowns Landed</p>
                                <li>Rank: {{data_hash['tdl_scaled']| round(1)}}</li>
                                <li>Value: {{data_hash['tdl']| int}} takedowns</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Takedown Accuracy</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Takedown Accuracy</p>
                                <li>Rank: {{data_hash['tk_acc_scaled']| round(1)}}</li>
                                <li>Value: {{(data_hash['tk_acc'] * 100)| round(1)}}%</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Control Time</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Total Control Time</p>
                                <li>Rank: {{data_hash['control_time_scaled']| round(1)}}</li>
                                <li>Value: {{data_hash['control_time']| int}} minutes</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Takedown Defense</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Takedown Defense</p>
                                <li>Rank: {{data_hash['td_def_scaled']| round(1)}}</li>
                                <li>Value: {{(data_hash['td_def'] * 100)| round(1)}}%</li>
                            </div>
                        </ul>
                    </div>

                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>Effective Ground and Pound</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Effective GNP</p>
                                <li>Rank: {{data_hash['effective_gnp_scaled'] | round(1) }}</li>
                                <li>Value: {{data_hash['effective_gnp'] | round(3)}}</li>
                            </div>
                        </ul>
                    </div>
                    <div class="p-4 bg-dark text-white rounded-4 shadow">
                        <h3>GNP per Minute</h3>
                        <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <p>Ground and Pound per Minute</p>
                                <li>Rank: {{data_hash['gnp_pm_scaled'] | round(1)}}</li>
                                <li>Value: {{data_hash['gnp_pm'] | round(4)}} / GNP min</li>
                            </div>
                        </ul>
                    </div>
                </div>

            </div>
            {% elif selection == "clinch" %}
            <div class="container">
                <div class="d-flex gap-4">

                    <div class="flex-grow-1 p-4 bg-dark text-white rounded-4 shadow d-flex flex-column gap-3 justify-content-center">

                        <div class="p-3 rounded-3" style="background:#2f2f2f;">
                            <h2>Muay Clinch: <br> {{data_hash['Muay'] | round(1)}}</h2>
                        </div>

                        <div class="p-3 rounded-3" style="background:#3a3a3a;">
                            <h4>Clinch Strikes per Minute</h4>
                            <div>
                                <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                                    <li>{{data_hash['clinch_strikes_pm'] | round(4)}} / min</li>
                                </ul>
                            </div>
                        </div>

                        <div class="p-3 rounded-3" style="background:#3a3a3a;">
                            <h4>Effective Clinch Strike Accuracy</h4>
                            <div class="col rounded-3 m-2" style="background: #3a3a3a;">
                                <ul class="list-inline mb-0 row gx-5" style="margin: 0 auto">
                                    <li>{{(data_hash['effective_accuracy'] * 100) | round(2)}}%</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="flex-grow-2">
                        <div class="p-4 bg-dark text-white rounded-4 shadow graph-container h-100">
                            {{plot | safe}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="mt-5">
                <p>Disclaimer: head and body hunter just describe how many times the fighters went for the head and body in clinch. It doesn't mean much else. </p>
            </div>
            {% elif selection == "overall" %}
            <div class="container">
                <h1>Overall Global Score</h1>
                <div>
                    <p>We will give some grace to more one dimentsional fighters if they at least have good defence in the arts they lack</p>
                </div>
                <div class="d-flex gap-4 flex-column align-items-center justify-content-center justify-items-center">
                    <div class="row gx-3" style="width:700px;">
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow">
                            <h3>Global Rating: {{data_hash['global_rating_scaled'] | round(0)}}</h3>
                        </span>
                        <span class="col m-2 p-2 bg-dark text-white rounded-4 shadow">
                            <h3>Global Value: {{data_hash['global_rating'] | round(0)}}</h3>
                        </span>
                    </div>
                    <div class="flex-grow-1" style="max-width: 800px;">
                        <div class="p-4 bg-dark text-white rounded-4 shadow graph-container">
                            {{plot | safe}}
                        </div>
                    </div>

                    <div class="container mt-4">
                        <h2 class="mb-3">Career Relevant Stats</h2>
                        <div class="container p-4 bg-dark rounded-4" style="max-width: 500px;">
                            <table class="table table-dark table-sm table-hover">
                                <tbody>
                                    <tr>
                                        <td>Fall Off Rate Scaled <br> <p>(How hard the fighter fell off)</p></td>
                                        <td class="text-end fw-bold">{{data_hash['fall_off_rate_scaled'] | round(1)}}</td>
                                    </tr>

                                    <tr>
                                        <td>Title Score Scaled <br> <p>(Impressiveness of the fighter's title run)</p></td>
                                        <td class="text-end fw-bold">{{data_hash['title_score_scaled'] | round(1)}}</td>
                                    </tr>

                                    <tr>
                                        <td>Win Score <br> <p>(How well the fighter wins the fights they win (lol) )</p></td>
                                        <td class="text-end fw-bold">{{data_hash['win_score_scaled'] | round(1)}}</td>
                                    </tr>

                                    <tr>
                                        <td>Highest Win Streak Scaled</td>
                                        <td class="text-end fw-bold">{{data_hash['highest_win_streak_scaled'] | round(1)}}</td>
                                    </tr>

                                    <tr>
                                        <td>Finish Rate Scaled</td>
                                        <td class="text-end fw-bold">{{data_hash['finish_rate_scaled'] | round(1)}}</td>
                                    </tr>

                                    <tr>
                                        <td>Peak ELO Scaled</td>
                                        <td class="text-end fw-bold">{{data_hash['peak_elo_scaled'] | round(1)}}</td>
                                    </tr>

                                    <tr>
                                        <td>Current ELO Scaled</td>
                                        <td class="text-end fw-bold">{{data_hash['elo_scaled'] | round(1)}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="container mt-5">
                            <form id="numForm" method="POST" action="{{ url_for('fighter', id=id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <label for="num"><p style="font-size: 20px;">Pick number of strengths/weaknesses:</p></label>
                                    <div class="d-flex flex-row">
                                        <span class="me-2">
                                        <input type="number" id="num" class="form-control rounded-pill" style="max-width: 70px;" name="num" min="1" max="25" value="{{ quantity }}">
                                        </span>
                                        <button class="btn btn-dark" type="submit" name="action" value="overall">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row mt-3">
                                <div class="col m-2 p-3 bg-dark text-white rounded-4 shadow">
                                    <h2> TOP {{quantity}} Strengths </h2>
                                    <ol>
                                    {% for key, value in strengths.items() %}
                                        <li> {{key}} : {{value}} </li>
                                    {% endfor %}
                                    </ol>
                                </div>
                                <div class="col m-2 p-3 bg-dark text-white rounded-4 shadow">
                                    <h2> TOP {{quantity}} Weaknesses </h2>
                                    <ol>
                                    {% for key, value in weaknesses.items() %}
                                        <li> {{key}} : {{value}} </li>
                                    {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% elif selection == "record" %}
                <div class="fight-grid">
                    {% for fight in fights %}
                        <div class="bg-dark rounded fight-card">
                            <a href="/versus/{{fight['fight_id']}}">
                                <h5>
                                    {% if fight['fighter_a'] == fight['winner'] %}
                                    <div class="winner">{{ fight['fighter_a_name'] }}</div>
                                    vs
                                    <div class="loser">{{ fight['fighter_b_name'] }}</div>
                                    {% else %}
                                    <div class="loser">{{ fight['fighter_a_name'] }}</div>
                                    vs
                                    <div class="winner">{{ fight['fighter_b_name'] }}</div>
                                    {% endif %}
                                </h5>

                                <p>
                                    <strong>{{ fight['event_name'] }}</strong>
                                </p>

                                <p>
                                    {{ fight['date'] }}
                                </p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            {% endif %}
        </div>
    </div>

{% endblock %}