{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}

<style>
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: pink;
}

.methodology {
    max-width: 900px;
    margin: 0 auto 40px auto;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.ranking-buttons {
    text-align: center;
    margin-bottom: 30px;
}

.ranking-buttons form button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border-color: aliceblue;
    background-color: rgb(40, 34, 34); 
    color: aliceblue;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ranking-buttons form button:hover {
    background-color: rgb(63, 63, 63);
    color: pink;
}

.fighter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.fighter-card {
    border: 3px solid black; 
    border-radius: 10px;
    width: 180px;
    text-align: center;
    padding: 10px;
    transition: all 0.2s ease;
    background-color: #36454F;
}

.fighter-card:hover {
    border-color: #1e00ff; /* blue on hover */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.fighter-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.fighter-card .fighter-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: aliceblue;
}

.fighter-card .fighter-elo {
    font-size: 14px;
    color: #00eeff;
}

</style>


<div class="methodology">
    <h1>Methodology</h1>
    <p>The k-factor of our ELO equation is 32, however, it can go up to 36 if the fighter got a knockout, or a submission, and depending on how early the win was. A second round KO shows the difference in levels between two fighters more than a 5 round split decision</p>
    <p>However, I only take UFC fights into account.</p>
    <p style="font-size: 14px;">Keep in mind: ELO rankings in sports like UFC are not always accurate due to the low volume of matches, however they show interesting insights.</p>
</div>

<div class="ranking-buttons">
    <form action="/rankings" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" name="action" value="p4p">Pound-for-pound</button>
        <button type="submit" name="action" value="Flyweight">Flyweight</button>
        <button type="submit" name="action" value="Bantamweight">Bantamweight</button>
        <button type="submit" name="action" value="Featherweight">Featherweight</button>
        <button type="submit" name="action" value="Lightweight">Lightweight</button>
        <button type="submit" name="action" value="Welterweight">Welterweight</button>
        <button type="submit" name="action" value="Middleweight">Middleweight</button>
        <button type="submit" name="action" value="LightHeavyweight">LightHeavyweight</button>
        <button type="submit" name="action" value="Heavyweight">Heavyweight</button>
    </form>
</div>

<div>
    <h2>{{chosen_class | upper()}}</h2>

    <div class="fighter-grid">
        {% for fighter in fighters %}
            <a href="/fighter/{{fighter['fighter_id']}}" class="fighter-card">
                <img src="{{fighter['picture']}}" alt="pic not found">
                <div class="fighter-name">{{fighter['name']}}</div>
                <div class="fighter-elo">ELO: {{fighter['elo']}}♖</div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
