{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

<style>
label {
    margin-right: 30px;
}

h1, h3 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form select, form button {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #4a148c; /* dark purple */
    font-size: 14px;
}

/* Button styling */
form button {
    background-color: #1976d2; /* purple */
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    align-self: flex-end;
    margin-top: 10px;
    width: 100px;;
}

form button:hover {
    background-color: #1e8efe; /* blue */
    border-color: #115293;
}

/* Fighter grid */
.fighter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.fighter-card {
    border: 2px solid black;
    border-radius: 10px;
    width: 160px;
    text-align: center;
    padding: 10px;
    transition: all 0.2s ease;
    background-color: #36454F;
    color:aliceblue
}

.fighter-card:hover {
    border-color: #1e00ff; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.fighter-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.fighter-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

</style>

<div class="container">
    <h1 style="color:aliceblue;">Fighter Roster</h1>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-start" style="float: left;">
            <form action="/roster" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="d-flex flex-column justify-content-start align-items-start" style="max-width: 400px; margin: 0 auto; color:aliceblue;">
                    <h3>Fighter Categories</h3>
                    <div class="d-flex flex-row">
                        <label for="weight_class">Categories: </label>
                        <select name="weight_class" id="weight_class">
                            <option value="All" selected>All</option>
                            <option value="Flyweight">Flyweight</option>
                            <option value="Bantamweight">Bantamweight</option>
                            <option value="Featherweight">Featherweight</option>
                            <option value="Lightweight">Lightweight</option>
                            <option value="Welterweight">Welterweight</option>
                            <option value="Middleweight">Middleweight</option>
                            <option value="LightHeavyweight">Light Heavyweight</option>
                            <option value="Heavyweight">Heavyweight</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row">
                        <label for="country">Country: </label>
                        <select name="country" id="country">
                            <option value="" selected></option>
                            {% for country in countries %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex flex-row">
                        <label for="team">Team: </label>
                        <select name="team" id="team">
                            <option value="" selected></option>
                            {% for team in teams %}
                                <option value="{{team}}">{{ team }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="fighter-grid">
            {% for fighter in fighters %}
            <a href="/fighter/{{fighter['fighter_id']}}" class="fighter-card">
                <img src="{{fighter['picture']}}" alt="no pic found">
                <div class="fighter-name">{{fighter['name']}}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
