{% extends "layout.html" %}

{% block title %}
    Versus
{% endblock %}

{% block main %}
    <h1>{{fighter_1['name']}} VS {{fighter_2['name']}}</h1>
    <table class="table table-dark" align="center">
        <thead>
            <tr>
                <th>{{fighter_1['name']}}</th>
                <th>{{fighter_2['name']}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ fighter_1['result'] }}</td>
                <td>{{ fighter_2['result'] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}